<div class = "container md:flex flex-wrap" ng-hide= "selectedIdea">
    
    <div class = "sm:w-auto md:w-1/3 cursor-pointer" ng-click = "selectIdea(eachIdea, $index)" ng-repeat = "eachIdea in ideas track by $index">
        <div class="bg-gray-300 m-2 p-4 rounded">
            <div>
                <strong>{{eachIdea.title}}</strong>
            </div>
            <div>
                <strong>Category :</strong> {{eachIdea.category}}
            </div>
            <div>
                {{eachIdea.description | limitTo:200}}
                <span ng-show = "eachIdea.description.length > 200">...</span>
            </div>
            <div>
                <strong>Tags : </strong>{{eachIdea.tags}}
            </div>
            <div>
                <strong>Completion Date:</strong>{{eachIdea.completion_date | date :'d MMM'}}
            </div>
            <div>
                <strong>Created By:</strong>{{eachIdea.created_by}}
            </div>
            <div>
                <strong>Status:</strong>{{eachIdea.status}}
            </div>

        </div>
        
        
    </div>
</div>

<div class = "container md:flex flex-wrap flex-center " ng-show = "selectedIdea && !editIdea">
    <div class = "m8 h-auto flex flex-col w-full">
        <div class="bg-blue-500 flex w-full items-center justify-between p-4 text-white">
            <div>
                {{selectedIdea.title}}
            </div>

            <div class ="cursor-pointer leading-none text-2xl" ng-click = "selectedIdea = null">
                x
            </div>
        </div>
        <div class = "bg-gray-300 w-full p-4">
            <div>
                {{selectedIdea.description}}
            </div>
            <div>
                <strong>Tags : </strong> {{selectedIdea.tags}}
            </div>
            <div>
                <strong>Completion Date:</strong> {{selectedIdea.completion_date | date :'d MMM'}}
            </div>
            <div>
                <strong>Created At:</strong> {{selectedIdea.created_at | date :'d MMM'}}
            </div>
            <div>
                <strong>Created By:</strong> {{selectedIdea.created_by}}
            </div>
            <div>
                <strong>Category:</strong> {{selectedIdea.category}}
            </div>
            <div>
                <strong>Status:</strong> {{selectedIdea.status}}
            </div>
        </div>

        <div class="w-full flex align-center  justify-center p-4">
            <button ng-click = "toggleEdit()" class = "bg-blue-400 py-2 px-5 rounded">
                Edit Idea
            </button>
        </div>
    </div>

    
</div>

<div class = "container md:flex flex-wrap flex-center " ng-show = "selectedIdea && editIdea">
    <div class="bg-gray-300 w-full p-4">
        <form class="bg-white shadow-md rounded p-1 flex flex-wrap">
            
            <div class="m-2 w-full">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                    Title
                </label>
                <input ng-model="editedIdea.title"
                    class="border focus:shadow-outline px-3 py-2 rounded text-gray-700 w-full focus:outline-none focus:shadow-outline"
                    id="title" type="text" placeholder="Idea Title">
            </div>
            <div class="m-2 w-full">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                    Description
                </label>
                <textarea ng-model="editedIdea.description"
                    class="border focus:shadow-outline px-3 py-2 rounded text-gray-700 w-full focus:outline-none focus:shadow-outline"
                    id="description"></textarea>
            </div>
            <div class = "m-2 w-full">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="team_members">
                    Team Members
                </label>
                <input ng-model = "editedIdea.team_members" class="border focus:shadow-outline px-3 py-2 rounded text-gray-700 w-full focus:outline-none focus:shadow-outline" id="team_members" type="text" placeholder="Team Members">
            </div>
            <div class = "m-2 w-full">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="team_members">
                    Tags
                </label>
                <input ng-model = "editedIdea.tags" class="border focus:shadow-outline px-3 py-2 rounded text-gray-700 w-full focus:outline-none focus:shadow-outline" id="tags" type="text" placeholder="tags">
            </div>
            <div class = "p-2 sm:w-auto md:w-1/4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                    Category
                </label>
                <input ng-model = "editedIdea.category" class="border focus:shadow-outline px-3 py-2 rounded text-gray-700 focus:outline-none focus:shadow-outline" id="category" type="text" placeholder="Category">
            </div>
            <div class = "p-2 sm:w-auto md:w-1/4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="created_by">
                    Created By
                </label>
                <input ng-model = "editedIdea.created_by" class="border focus:shadow-outline px-3 py-2 rounded text-gray-700 focus:outline-none focus:shadow-outline" id="created_by" type="text" placeholder="Created By">
            </div>
            
            <div class = "p-2 sm:w-auto md:w-1/4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="completion_date">
                    Completion Date
                </label>
                <input ng-model = "editedIdea.completion_date" class="border focus:shadow-outline px-3 py-2 rounded text-gray-700 focus:outline-none focus:shadow-outline" id="completion_date" type="date" placeholder="Completion Date">
            </div>
        </form>
        <div class = "w-full flex justify-center mt-4">
            <button ng-click = "toggleEdit()" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded mx-2">
                Cancel
            </button>
            <button ng-click = "saveIdea()" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded mx-2">
                Save Idea
            </button>
            
        </div>
    </div>
</div>
    
